<?xml version='1.0' encoding='UTF-8'?><estudiante><nombres>${body.nombres}</nombres><apellidos>${body.apellidos}</apellidos><mensaje>Desarrollo web</mensaje><curso>Aprobado</curso><comentario>XXX</comentario></estudiante>